@import url(https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap);

html {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

body {
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
}

#title {
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
    font-family: 'Overpass Mono', monospace;
}

#content {
    margin: 0 0 0 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
}

#slideContainer {
    height: 600px;
    background-color: #dfdfdf;
    width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 500px;
    width: 800px;
    background-color: #cfcfcf;
}

/********************
ENTERING
********************/
.enteringLeft {
    position: absolute;
    animation: enterLeft 2s forwards;
}

@keyframes enterLeft {
    0% { transform: translateX(-220%); }
    100% { transform: translateX(0%); }
}

.enteringRight {
    position: absolute;
    animation: enterRight 2s forwards;
}

@keyframes enterRight{
    0% { transform: translateX(220%); }
    100% { transform: translateX(0%); }
}

/********************
LEAVING
********************/
.leavingLeft {
    position: absolute;
    animation: leaveLeft 2s forwards;
}

@keyframes leaveLeft {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-220%); }
}

.leavingRight {
    animation: leaveRight 2s forwards;
}

@keyframes leaveRight{
    0% { transform: translateX(0%); }
    100% { transform: translateX(220%); }
}

/********************
END!!!!!!!!!!!!!!!!!
********************/

#leftArrow {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    font-size: 30px;
    z-index: 5 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 30px;
    color: white;
}

#leftArrow:hover {
    cursor: pointer;
}

#rightArrow {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    font-size: 30px;
    z-index: 5 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 30px;
    color: white;
}

#rightArrow:hover {
    cursor: pointer;
}

#statusContainer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #dfdfdf;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.status {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfbfbf;
    font-family: 'Overpass Mono', monospace;
    border-radius: 5px;
}

.status:hover {
    cursor: pointer;
}

.darkStatus {
    animation: turnDark 1s forwards;
    background-color: black;
    color: white;
}

@keyframes turnDark {
    0% {
        background-color: #bfbfbf;
        color: black;
    }
    100% {
        background-color: black;
        color: white;
    }
}